body {
    background-color: #524853;
}

h1, h2, h3 {
    color: #ff00ff;
    font-weight: bold;
}

button {
    border-radius: 8px;
    margin: 10px;
    font-weight: bold;
}

::part(rando) {
    color:rgb(54, 37, 114);
}